<!DOCTYPE HTML>
<html>
<head>
  <title> Instagram Clone </title>

  {% load cloudinary %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

  <style type="text/css">
  .btn-primary-outline { margin-right: 10px;}
  </style>



</head>

<body>
  {% if request.user.is_anonymous %}
    {% include "sign_in_navbar.html" %}
  {% else %}
    {% include "navbar.html" %}
  {% endif %}

  <div class="container">
      <h1> {{ request.user.username }} </h1>
  </div>
  <button type="button" class="btn btn-primary-outline">Primary</button>
  <button type="button" class="btn btn-secondary-outline">Secondary</button>
  <button type="button" class="btn btn-success-outline">Success</button>
  <button type="button" class="btn btn-info-outline">Info</button>
  <button type="button" class="btn btn-warning-outline">Warning</button>
  <button type="button" class="btn btn-danger-outline">Danger</button>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script>
  $(document).ready(function() {
    /*  UPLOAD IMAGE FORM MODAL */
    $('#uploadImageForm').submit(function(event) {
      event.preventDefault();
      var formData = new FormData($("#uploadImageForm")[0]);

      $.ajax({
        url: 'http://' + window.location.host + '/api/posts/',
        type: "POST",
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
          alert("YES");
          console.log(response);
        },
        error: function(xhr, ajaxOptions, error) {
          alert("NO");
          console.log(xhr);
        },
        complete: function(response) {
          window.location.href = '/';
        }
      });
    });
  });

  // };
  </script>
  <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="uploadImageForm" method='post' enctype="multipart/form-data"> {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"> Post a New Photo </h4>
          </div>
          <div class="modal-body">
              <input type="file" name="image" accept="image/*" class="form-control-file"/>
              <br/>
              <textarea class="form-control" name="caption"></textarea>
              <div class="preview">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
