<!DOCTYPE HTML>
<html>
<head>
  <title> Instagram Clone </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

  <style type="text/css">
  .btn-primary-outline { margin-right: 10px;}
  </style>

</head>

<body>
  {% if request.user.is_anonymous %}
    {% include "sign_in_navbar.html" %}
  {% else %}
    {% include "navbar.html" %}
  {% endif %}

  <div class="container">
      <h1> {{ request.user.username }} </h1>
  </div>
  <button type="button" class="btn btn-primary-outline">Primary</button>
  <button type="button" class="btn btn-secondary-outline">Secondary</button>
  <button type="button" class="btn btn-success-outline">Success</button>
  <button type="button" class="btn btn-info-outline">Info</button>
  <button type="button" class="btn btn-warning-outline">Warning</button>
  <button type="button" class="btn btn-danger-outline">Danger</button>

</body>
</html>
