<nav class="navbar navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      &#9776;
    </button>

    <div class="collapse navbar-toggleable-xs" id="collapsibleNavbar">
      <a class="nav-item nav-link active" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Clone <span class="sr-only">(current)</span></a>
      <!-- <a class="nav-item nav-link" href="#">Features</a> -->
    </div>


  <a href="{% url 'logout' %}"><button class="btn btn-success-outline pull-xs-right" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i></button></a>
  <button type="button" class="btn btn-primary-outline pull-xs-right" data-toggle="modal" data-target="#uploadImageModal" style="margin-right: 5px;"><i class="fa fa-plus" aria-hidden="true"></i></button>

  </div>
</nav>
